/* For Navbar */

.navbar-dark {
  background-color: #510093;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #ccc;
}
body {
  background-color: #510093;
}
.white-text {
  color: #fff;
}
.rectangle-border {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 20px;
}
.creative-content {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}
.navbar-toggler-icon {
            background-image: url('https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist//images/icons/bootstrap.svg');
            width: 1.5rem;
            height: 1.5rem;
        }
/* For Vacancies DropDown */
.job-title {
    font-size: 20px;
    color: inherit;
    text-decoration: none;
}

.job-title:hover {
    color: inherit;
    text-decoration: none;
}
/* For default pic */
.account-img {
  max-width: 100px;
  max-height: 100px;
}
.smaller-image {
    max-width: 50px;
    max-height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}