{% extends "base.html" %}
{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="rectangle-border">
                <h2 class="white-text">About</h2>
                <p class="white-text lead">This is a simple app to demonstrate Flask, WTForms, and Flask-Bootstrap.</p>
            
                <div class="creative-content">
                <p class="white-text">Flask is a micro web framework written in Python.</p>
                <p class="white-text">WTForms is a flexible forms validation and rendering library for Python.</p>
                <p class="white-text">Flask-Bootstrap is a package that makes it easy to use Bootstrap in Flask applications.</p>
                <p class="white-text">Combining these technologies allows for rapid development of web applications with a modern and user-friendly interface.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
