{% extends "base.html" %}
{% block content %}
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="rectangle-border">
                <h2 class="white-text">{{ job.title }}</h2>
                <a class="mb-1" href="{{ url_for('users.user_jobs', username=job.author.username) }}"><strong>ავტორი:</strong> {{ job.author.username }}</a>
                <p class="white-text mb-1"><strong>თარიღი:</strong> {{ job.date_posted.strftime('%Y-%m-%d') }}</p>
                <p class="white-text mb-0"><strong>აღწერა:</strong> {{ job.description }}</p>

                {% if job.salary %}
                <p class="white-text mb-0"><strong>ხელფასი:</strong> {{ job.salary }}</p>
                {% endif %}
                {% if job.location %}
                <p class="white-text mb-0"><strong>მდებარეობა:</strong> {{ job.location }}</p>
                {% endif %}
                {% if job.benefits %}
                <p class="white-text mb-0"><strong>ბენეფიტები:</strong> {{ job.benefits }}</p>
                {% endif %}
                {% if job.data_verification %}
                <p class="white-text mb-0"><strong>მონაცემების გადამოწმებაზე თანხმობა:</strong> {{ job.data_verification }}</p>
                {% endif %}
                {% if job.required_skills %}
                <p class="white-text mb-0"><strong>აუცილებელი მოთხოვნები:</strong> {{ job.required_skills }}</p>
                {% endif %}
                <br>
                {% if current_user == job.author %}
                <a class="btn btn-success" href="{{ url_for('jobs.updatejob', job_id=job.id) }}">შეცვლა</a>
                <a class="btn btn-danger" href="{{ url_for('jobs.deletejob', job_id=job.id) }}">წაშლა</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

