{% extends "base.html" %}
{% block content %}
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="registration-form rectangle-border">
                <h2 class="white-text">Register</h2>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label class="white-text">{{ form.username.label }}</label><br>

                        {% if form.username.errors %}
                        {{ form.username(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.username(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label class="white-text">{{ form.email.label }}</label><br>
                        {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.email(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label class="white-text">{{ form.password.label }}</label><br>
                        {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.password(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label class="white-text">{{ form.confirm_password.label }}</label><br>
                        {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.confirm_password(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
            <div class="login-link">
                <p class="text-center white-text">Already have an account? <a href="{{ url_for('login') }}">Sign In</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
